@layer utilities {
  .bg-gradient {
    background-image: linear-gradient(
      135deg,
      #0b1d24 0%,
      #12414f 40%,
      #146e79 70%,
      #0d2e3a 100%
    );
  }

  .card-glow {
    @apply border border-border rounded-xl shadow-md transition hover:shadow-lg;
  }

  .button-primary {
    @apply bg-primary text-white  px-4 py-2 rounded-xl hover:bg-emerald-800 transition;
  }

  .button-outline {
    @apply border border-foreground text-foreground px-4 py-2 rounded-xl hover:bg-foreground/10 transition;
  }

  /* 
    Utility class for 3D flip animations.
    Ensures that the back side of the card stays hidden when not visible.
    Required for proper card flipping behavior (especially in Safari and Chrome).
  */
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 transparent; /* thumb + track */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 4px;
  }
}
